body {
    background-color: #E4DCCF;
}

p, li {
    color: #0015ff;
    margin: 10px; 
}

a{
    color: #3300ff;
}
h1, h2 {
    color: #4E6E81;
    margin: 10px;
}

/*img {
    margin: 10px;
}*/

nav {
    background-color: #E1EEDD;
    padding: 10px;
    margin-bottom: 30px;
}

nav a:hover {
    color: #ff0304;
}

nav a {
    color: #0005ff;
}

footer {float: bottom;}
.quote {
    float: right;
}

img {
    float: left;
    margin-right: 20px;
    clear: both;
}

.part1, .part2 {display: flex; background-color:#d7ffe4; border-radius: 1em; margin: 10px; padding: 10px; color: #0005ff;}
.address {flex: 1;}
.email {flex: 2; color:#0005ff;}
.questions {flex: 1;}
.map {flex: 2;}

h1 {text-align: center;}
.intro {width: 75%; margin: 0 auto; padding: 10px; text-align: left;}
.icons {display: flex; float: left; flex-basis: 75%; justify-content: center; justify-content: space-between;}
.icons div {float: left;}
.sidebar {float: right; background-color: #F0A04B; padding: 20px; border-radius: 1em; color:#000000;}
.container {display: flex;}

.headshot {max-width: 100%;}
.part2 {flex-wrap: wrap;}

@media only screen and (max-width: 800px) {
   nav a {width: 100%; display: block;}
   span {display: none;}
}
@media only screen and (min-width: 801px){
    
}