body, nav {font-family:"Josefin Sans", sans-serif; font-style: normal; font-weight: 10; color: #484777;}
h1, .headertext {text-align:center; font-family: "Josefin Sans", sans-serif; font-weight:lighter;}
h1 {font-size:40px;}
.header {background-color: #a0d4cd; padding: 10px;}


.container {display:flex; flex-wrap:wrap; justify-content: center; padding: 10px;} 
.headshot {order:1; width:300px; height:auto;}
.copy {order:2;}
.buttons {order:3;}
